extends ./layout
block content

 form(action="/login" method='post')
  p
   input(type='text' class="input" name="username" placeholder="ID")
  p
   input(type='password' class="input" name="password" placeholder="Password")
  p
   br
   input(type='submit' class="btn" value='로그인')   
   a(href='/')  취소
