extends ./layout
block content

 form(action="/login" method='post')
  p
   input(type='text' class="input" name="username" placeholder="ID")
  p
   input(type='password' class="input" name="password" placeholder="Password")
  p
   br
   input(type='submit' class="btn" value='로그인')
   a(href='/')  취소
  h3(style="color:red") 올바른 ID/PW 정보를 
  h3(style="color:red")  입력해 주세요.