extends ./layout
block content
 h1(style="color:royalblue") 회원 가입
 br
 form.form(action='/member' method='post')
    p(style="margin-bottom: 5px")
      input(type='text' class="input" name='username' placeholder='name')
    p
      input(type='password' class="input" name='password' placeholder='password')
    p
      input(type='text' class="input" name='displayName' placeholder='displayName')
    br
    p     
      input(type='submit' class="btn" value='회원가입')
      a(href='/') 취소

   
