extends ./layout
block content
  .wrapper
    div
      h1 File Upload!
      p.content 대용량 동영상은 P2P 사이트를 이용하시길 부탁드립니다.
      p.content 더 나은 서비스를 제공하기 위하여 노력하겠습니다.
      p.content 앞으로도 많은 성원 부탁드립니다. 
       |감사합니다.
      br
      .line
        br
        form(action='/upload' method='post' enctype="multipart/form-data")
          input(type='file' name="userfile")     
          input(type='submit' value='전송')
